
@{
    ViewData["Title"] = "TeamList";
    Layout = "~/Areas/LeagueAdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            @* <button type="button" class="btn btn-block btn-info btn-sm">LİG EKLE</button> *@
            <a href="~/LeagueAdminPanel/Team/TeamInsert" class="btn btn-block btn-info btn-sm"> TAKIM EKLE  </a>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>Upt</th>
                    <th>Del</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < 30; i++)
                {
                    <tr>
                        <td>Trident-@i</td>
                        <td>
                            Internet
                            Explorer 4.0
                        </td>
                        <td>Win 95+</td>
                        <td> 4</td>
                        <td>X</td>
                        <td>
                            @*   <form action="~/LeagueAdminPanel/League/LeagueUpdate">
                        <button type="button" class="btn btn-block btn-warning btn-xs">Update</button>
                        Id değeri tutan input tanımlanması gereklidir
                        </form>
                        *@

                            @{
                                int teamId = 91;
                            }
                            <a href="~/LeagueAdminPanel/Team/TeamUpdate/65" class="btn btn-block btn-warning btn-xs"> <i class="fas fa-pencil-alt"></i> </a>

                        </td>
                        <td>
                            <a href="~/LeagueAdminPanel/Player/TeamUpdate/25" class="btn btn-block btn-danger btn-xs"> <i class="fas fa-trash"></i> </a>
                        </td>

                    </tr>

                }

            </tbody>

            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>Upt</th>
                    <th>Del</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

