@using MatchLeauge.DAL.MLContext
@model List<League>

@{
    ViewData["Title"] = "LeagueList";
    Layout = "~/Areas/LeagueAdminPanel/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            @* <button type="button" class="btn btn-block btn-info btn-sm">LİG EKLE</button> *@
            <a href="~/LeagueAdminPanel/League/LeagueInsert" class="btn btn-block btn-info btn-sm">  LİG EKLE  </a>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ADI</th>
                    <th>Upt</th>
                    <th>Del</th>
                </tr>
            </thead>
            <tbody>

              @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.LeagueName</td>
                        <td>
                            @*   <form action="~/LeagueAdminPanel/League/LeagueUpdate">
                        <button type="button" class="btn btn-block btn-warning btn-xs">Update</button>
                        Id değeri tutan input tanımlanması gereklidir
                        </form>
                        *@
                            <a href="~/LeagueAdminPanel/League/LeagueUpdate/@item.Id" class="btn btn-block btn-warning btn-xs"> <i class="fas fa-pencil-alt"></i> </a>

                        </td>
                        <td>
                            <a href="~/LeagueAdminPanel/League/LeagueUpdate/@item.Id" class="btn btn-block btn-danger btn-xs"> <i class="fas fa-trash"></i> </a>
                        </td>

                    </tr>
                   
                }

            </tbody>

            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>ADI</th>
                    <th>Upt</th>
                    <th>Del</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

