@using MatchLeauge.DAL.MLContext
@model League
@{
    ViewData["Title"] = "LeagueInsert";
    Layout = "~/Areas/LeagueAdminPanel/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-10">
    <!-- Form Element sizes -->
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Lig Oluştur </h3>
        </div>
        <div class="card-body">
            <form asp-action="LeagueInsert" asp-controller="League" method="post">

                <div class="form-group">
                    <label>Lig Adı</label>
                    <input class="form-control" value="" name="leagueName" type="text" placeholder="Lig Adını Giriniz">
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">LİG KAYDET</button>
                </div>
            </form>
            <p>
                @ViewBag.mesaj
            </p>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- /.card -->
</div>
